$primary-color:#FF681E;
$secondary-color:#D0DFEB;
$background-color:#323131;
$black:#575757;
$open-sans:'Open Sans', sans-serif;
$raleway:'Raleway', sans-serif;
$koho: 'KoHo', sans-serif;
$pattaya: 'Pattaya', sans-serif;
$off-white:#f9f9ed;

// media querys

