@import '../../variables.scss';

.exerciseContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  align-items: flex-end;

  p {
    text-transform: capitalize;
    text-decoration: underline;
    text-align: left;
  }
  i {
    color: $secondary-color;
    margin: 0 0 .3em 1em;
    cursor: pointer;
  }
}

.tagContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;


  p {
    font-size: 0.8rem;
    color: $primary-color;
    text-decoration: none;
    margin: 0 0.5em;
  }
}